
  <div class="modal-content p-3">
     <div class="modal-header d-flex justify-content-between">
        <h5 class="modal-title text-white m-0">Mood List day <span *ngIf="data[0].day">: {{ data[0].day }}</span></h5>
  </div>

    <div class="modal-body scroll-pen" style="width: 100%">
      @for (item of data; track $index) {
      <div class="card p-2 mt-2 text-white" >
        <div>
          <h5>{{ item.title }}</h5>
          <h6>{{ item.programTitle }}</h6>
          <span class="mt-2 fs-12" *ngIf="item.durationMinutes">
            <i class="fa fa-clock-o color-primary"></i>
            {{ item.durationMinutes || 0 }} Minute{{
              item.durationMinutes > 1 ? "s" : ""
            }}
          </span>
          <span class="ml-3 mt-2 fs-12" *ngIf="item?.day">Day: {{item?.day}}</span>
        </div>

        <div class="d-flex justify-content-between align-items-center sub-sec">
          <div class="fs-12 mr-2 d-flex" [ngStyle]="{'visibility': (item.energyData?.beforeEnergy || item.energyData?.beforeMood || item.energyData?.afterEnergy || item.energyData?.afterMood)?'':'hidden'}" >
            <div>
              <b class="fs-14">Before</b><br />
              <span>Energy:&nbsp;{{ item.energyData?.beforeEnergy }}</span
              ><br />
              <span>Mood:&nbsp;{{ moods[item.energyData?.beforeMood] }}</span>
            </div>
            <div class="ml-3" >
              <b class="fs-14">After</b><br />
              <span>Energy:&nbsp;{{ item.energyData?.afterEnergy }}</span
              ><br />
              <span>Mood:&nbsp;{{ moods[item.energyData?.afterMood] }}</span
              ><br />
            </div>
       
          </div>
          <div>
         <!--  <mat-icon (click)="$event.stopPropagation(); edit(item)" style="cursor: pointer">edit</mat-icon>
          <mat-icon (click)="$event.stopPropagation();openDeleteConfirmDialog(item)" class="text-danger mx-2">delete</mat-icon> -->
        </div>
        </div>
        @if (item.date) {
        <span class="datetext">
           {{ item.date._seconds * 1000 | date:'medium' }} 
        </span> 
      }

         <!-- @else{
        <span class="datetext">{{ item.date.toDate() | date : "medium" }}</span> } -->
        
      </div>}
    </div>
     <div class="modal-footer mt-2">

    <button class="btn btn-secondary-custom" (click)="close()">Cancel</button>
  </div>
  </div>
