ion-card{
       position: relative;
       .icon-div{
     position: absolute;
    right: 0px;
    width: 50%;
    bottom: 0px;
    top: 0px;
    background-color: rgb(255 255 255 / 50%);
    text-align: center;
    display: grid;
    place-content: center;
  .lock-icon{
    width: 30px;
  }
}
}
.image-container-placeholder{
  background-color: rgb(100 100 100 / 42%);
  height: 100px;
  max-height: 100px;
  min-height: 100px;  
  ion-img{
         height: 100px;
  max-height: 100px;
  min-height: 100px; 
  object-fit: cover;
      }
}