@if(programData){
<div
  class="hero-background"
  [ngStyle]="{'background-image': 'url(' + programData.post.image + ')'}"
></div>
<div class="hero-overlay"></div>
<div class="hero-content">
  <div class="hero-title">
    <h1>{{ programData.postTitle }}</h1>
    <div class="hero-description">{{ programData.post.description }}</div>
    <div class="hero-actions">
      <button
        class="btn-icon-primary ion"
        id="play-btn"
        tabindex="0"
        (click)="onVideoOpen(programData)"
      >
        <ion-icon name="play" slot="start"></ion-icon>
        <span>Play</span>
      </button>
    </div>
    <div class="d-flex gap-2 mt-3 flex-wrap">
      @if (!isDayVideoWatched(day)) {
      <button class="btn-icon-primary" tabindex="0" (click)="openMoodTracker()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <span>Mark as Complete</span>
      </button>
      } @if (isDayVideoWatched(day)) {
      <button class="btn-icon-primary" tabindex="0" (click)="openMoodTracker()">
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        <span class="me-2"
          >Completed
          <span *ngIf="getDayWatchCount(day) > 1"
            >({{getDayWatchCount(day) }})</span
          ></span
        ></button
      >}

          @if (checkMoodIconVisible(this.day)) {
       <button class="btn-icon-primary" tabindex="0"  (click)="openMoodList(this.day)">
      <span>😊</span>
 </button>}
     <!--  <button class="btn-icon-primary" tabindex="0">
        <ion-icon name="heart-outline"></ion-icon>

        <span>Add to Favorites</span>
      </button>
      <button class="btn-icon-primary" tabindex="0">
        <ion-icon name="heart"></ion-icon>
        <span>Added to Favorites</span>
      </button> -->
    </div>
  </div>
</div>

}

<ion-grid class="mt-3">
  <ion-row>
    <ion-col size="12">
      <app-video-section
        [status]="status"
            [isDetailPage]="true"
        [videos]="programs"
        [title]="'Top Fitness'"
        (viewAllClick)="onViewAllFitness()"
        (videoClick)="onCardFitness($event)"
      >
      </app-video-section>
    </ion-col>
  </ion-row>
</ion-grid>
