@if(workoutDay){
<ion-grid>
 <ion-row>
    <ion-col size="12">
      <h1 class="text-white">{{name}}</h1>
    </ion-col>
  </ion-row>
  <ion-row class="mt-4">
       @if(workoutDay.length > 0){
    @for (item of workoutDay; track $index) {
    <ion-col size="3" >
      <ion-card class="custom-card"  (click)="onVideoClick(item)"
      [tabindex]="0">
      <img [src]="item.image" alt="image">
      <ion-card-header>
     <!--    <ion-card-title>{{item.title}}</ion-card-title> -->
        <ion-card-subtitle>{{item.duration}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </ion-col>
}
  }
        @else { 
    <ngx-skeleton-loader count="4" appearance="square" 
     class="custom-skeleton-width "
   [theme]="{height: '120px',width: 'calc(25% - 10px)'}" />
} 
    </ion-row>
  </ion-grid>
}
