<ion-grid>
  <ion-row>
    <ion-col size="12">
      <h1 class="text-white mt-0">{{categoryName}}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
      @if(recipeList.length > 0){
    @for (recipe of recipeList; track $index) {
    <ion-col size="3" >
      <ion-card class="video-card" tabindex="0" id="recipe-list-{{$index}}" (click)="navigateToSingleRecipe(recipe)">
     <div class="image-container-placeholder">
          <div *ngIf="!imageLoaded">
  <ion-skeleton-text style="width: 100%; height: 115px;" animated></ion-skeleton-text>
</div>
<ion-img [src]="recipe.image" (ionImgDidLoad)="imageLoaded = true"></ion-img>
</div>
  <!--     <ion-card-header>
        <ion-card-title>{{recipe.title}}</ion-card-title>
        <ion-card-subtitle>{{recipe.description}}</ion-card-subtitle>
      </ion-card-header> -->
    </ion-card>

    </ion-col>}
  }
        @else { 
    <ngx-skeleton-loader count="4" appearance="square" 
     class="custom-skeleton-width "
   [theme]="{height: '120px',width: 'calc(25% - 10px)'}" />
} 
  </ion-row>
</ion-grid>
