ion-item{
  --background: var(--background-secondary);
  color: white;
}
.profile-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  img{
    width: 100px;
  height: 100px;
  object-fit: cover;
  }
}
.tag{
  background-color: rgb(6, 174, 6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}