.custom-skeleton-width .skeleton-loader{
  width: calc(100% - 20px) !important;
}

.custom-card{
      height: 110px;
    
}

.image-container-placeholder{
  background-color: rgb(100 100 100 / 42%);
  height: 65px;
  max-height: 65px;
  min-height: 65px;  
  ion-img{
         height: 65px;
  max-height: 65px;
  min-height: 65px; 
  object-fit: cover;
      }
}