<ion-grid>
<!-- <ion-row>
    <ion-col size="12">
      <h1 class="text-white">Cool Down</h1>
    </ion-col>
  </ion-row>
<ion-row>
    <ion-col size="12">
      
        <div class="video-grid"   >
    @for (video of coolDownList; track $index) {
    <ion-card class="video-card"
       [id]="'videocard' + $index" 
      
      (click)="onClickChallenges(video)">
      <img [src]="video.image" alt="video image">
      <ion-card-header>
        <ion-card-title>{{video.title}}</ion-card-title>
        <ion-card-subtitle>{{video.durationMinutes}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>}
  </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <h1 class="text-white">Warm Up</h1>
    </ion-col>
  </ion-row>
<ion-row>
    <ion-col size="12">
      
        <div class="video-grid"   >
    @for (video of warmUpList; track $index) {
    <ion-card class="video-card"
       [id]="'videocard' + $index" 
      
      (click)="onClickChallenges(video)">
      <img [src]="video.image" alt="video image">
      <ion-card-header>
        <ion-card-title>{{video.title}}</ion-card-title>
        <ion-card-subtitle>{{video.durationMinutes}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>}
  </div>
    </ion-col>
  </ion-row> -->

  <ion-row>
    <ion-col size="12">
      <h1 class="text-white">Challenge Detail</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h4 class="text-white">Week 1</h4>
        <div class="video-grid"   >
               @if(challengeDays['week1']?.length > 0){
    @for (video of challengeDays['week1']; track $index) {
    <ion-card class="video-card"
       [id]="'videocard' + $index" 
      
      (click)="onClickChallenges(video)">
      <img [src]="video.image" alt="video image">
      <ion-card-header>
        <ion-card-title>{{video.title}}</ion-card-title>
        <ion-card-subtitle>{{video.durationMinutes}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>}
  }
   @else { 
    <ngx-skeleton-loader count="3" appearance="square" 
    class="custom-skeleton-width"
   [theme]="{height: '120px',width: 'calc(25% - 10px)'}" />
}  
  </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
            <h4 class="text-white">Week 2</h4>
       <div class="video-grid"   >
             @if(challengeDays['week2']?.length > 0){
    @for (video of challengeDays['week2']; track $index) {
    <ion-card class="video-card"
       [id]="'videocard' + $index" 
      
      (click)="onClickChallenges(video)">
      <img [src]="video.image" alt="video image">
      <ion-card-header>
        <ion-card-title>{{video.title}}</ion-card-title>
        <ion-card-subtitle>{{video.durationMinutes}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>}
  }
   @else { 
    <ngx-skeleton-loader count="3" appearance="square" 
    class="custom-skeleton-width"
   [theme]="{height: '120px',width: 'calc(25% - 10px)'}" />
}  
  </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
        <h4 class="text-white">Week 3</h4>
      <div class="video-grid"   >
             @if(challengeDays['week3']?.length > 0){
    @for (video of challengeDays['week3']; track $index) {
    <ion-card class="video-card"
       [id]="'videocard' + $index" 
      
      (click)="onClickChallenges(video)">
      <img [src]="video.image" alt="video image">
      <ion-card-header>
        <ion-card-title>{{video.title}}</ion-card-title>
        <ion-card-subtitle>{{video.durationMinutes}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>}
  }
   @else { 
    <ngx-skeleton-loader count="3" appearance="square" 
    class="custom-skeleton-width"
   [theme]="{height: '120px',width: 'calc(25% - 10px)'}" />
}  
  </div>
    </ion-col>
  </ion-row>
   <ion-row>
    <ion-col size="12">
        <h4 class="text-white">Week 4</h4>
      <div class="video-grid"   >
             @if(challengeDays['week4']?.length > 0){
    @for (video of challengeDays['week4']; track $index) {
    <ion-card class="video-card"
       [id]="'videocard' + $index" 
      
      (click)="onClickChallenges(video)">
      <img [src]="video.image" alt="video image">
      <ion-card-header>
        <ion-card-title>{{video.title}}</ion-card-title>
        <ion-card-subtitle>{{video.durationMinutes}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>}
  }
       @else { 
    <ngx-skeleton-loader count="3" appearance="square" 
    class="custom-skeleton-width"
   [theme]="{height: '120px',width: 'calc(25% - 10px)'}" />
}  
  </div>
    </ion-col>
  </ion-row>
    <ion-row>
    <ion-col size="12">
        <h4 class="text-white">Week 5</h4>
      <div class="video-grid"   >
             @if(challengeDays['week5']?.length > 0){
    @for (video of challengeDays['week5']; track $index) {
    <ion-card class="video-card"
       [id]="'videocard' + $index" 
      
      (click)="onClickChallenges(video)">
      <img [src]="video.image" alt="video image">
      <ion-card-header>
        <ion-card-title>{{video.title}}</ion-card-title>
        <ion-card-subtitle>{{video.durationMinutes}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>}
  }
      @else { 
    <ngx-skeleton-loader count="4" appearance="square" 
    class="custom-skeleton-width"
   [theme]="{height: '120px',width: 'calc(25% - 10px)'}" />
}  
  </div>
    </ion-col>
  </ion-row>
</ion-grid>
