
<ion-tabs style="position: relative">
  <ion-tab-bar slot="top">
    <ion-tab-button tab="feed">
      <ion-icon name="home"></ion-icon>
      Feed
    </ion-tab-button>
    <ion-tab-button tab="enrolled">
      <ion-icon name="pricetag"></ion-icon>
      Enrolled
    </ion-tab-button>
    <ion-tab-button tab="combo">
      <ion-icon name="person"></ion-icon>
      My Combo
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab tab="feed">
    <div id="feed-page">
      <ion-grid>
        <ion-row>
           <ion-col size="12" class="scroll-section scroll-pen">
@for (item of comboFeed; track $index) {
      <ion-card class="feed-card mt-2" [tabindex]="0" (click)="navigateToComboDetails(item)">
        <ion-card-header>
          <ion-badge>{{item.type}}</ion-badge>
          <div class="d-flex align-items-center my-2">
            <ion-card-title class="text-white">{{item.title}}</ion-card-title>
            <ion-card-subtitle class="ms-3"
              ><ion-icon name="time-outline" class="me-1"></ion-icon
              >{{item.duration}}</ion-card-subtitle
            >
          </div>
        </ion-card-header>
        <ion-card-content>
          <div class="d-flex align-items-center">
            <div>
              <ion-text>{{item.workouts}}</ion-text><br />
              <ion-text>{{item.enrollments}}</ion-text>
            </div>
            <div class="d-flex align-items-center ms-3">
              <ion-avatar>
                <img [src]="item.image" />
              </ion-avatar>
              Combo Author <ion-text class="ms-2">{{item.author}}</ion-text>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      }
           </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>
  </ion-tab>
  <ion-tab tab="enrolled">
    <div id="enrolled-page">
      <ion-grid>
        <ion-row>
           <ion-col size="12" class="scroll-section scroll-pen">
        @for (item of comboFeed; track $index) {
      <ion-card class="feed-card mt-2" [tabindex]="0" (click)="navigateToComboDetails(item)">
        <ion-card-header>
          <ion-badge>{{item.type}}</ion-badge>
          <div class="d-flex align-items-center my-2">
            <ion-card-title class="text-white">{{item.title}}</ion-card-title>
            <ion-card-subtitle class="ms-3"
              ><ion-icon name="time-outline" class="me-1"></ion-icon
              >{{item.duration}}</ion-card-subtitle
            >
          </div>
        </ion-card-header>
        <ion-card-content>
          <div class="d-flex align-items-center">
            <div>
              <ion-text>{{item.workouts}}</ion-text><br />
              <ion-text>{{item.enrollments}}</ion-text>
            </div>
            <div class="d-flex align-items-center ms-3">
              <ion-avatar>
                <img [src]="item.image" />
              </ion-avatar>
              Combo Author <ion-text class="ms-2">{{item.author}}</ion-text>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      }
      </ion-col>
      </ion-row>
      </ion-grid>
    </div>
  </ion-tab>
  <ion-tab tab="combo">
    <div id="combo-page">
<ion-grid>
        <ion-row>
           <ion-col size="12" class="scroll-section scroll-pen">
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="mx-auto">
              <div class="user-info">
                <img src="assets/images/profile.jpg">
                <h3>User Name</h3>
                <p class="mb-0 pb-0">
                  2 Combos
                </p>
                <p>2 Enrollments
                </p>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>

        @for (item of comboFeed; track $index) {
      <ion-card class="feed-card mt-2" [tabindex]="0" (click)="navigateToComboDetails(item)">
        <ion-card-header>
          <ion-badge>{{item.type}}</ion-badge>
           <ion-card-title class="text-white mt-2">{{item.title}}</ion-card-title>
          
        </ion-card-header>
        <ion-card-content>
          <div class="d-flex align-items-center">
            <div>
              <ion-text>{{item.workouts}}</ion-text><br />
              <ion-text>{{item.enrollments}}</ion-text>
            </div>
          </div>
           <button class="btn-icon-primary mt-2"   tabindex="0">
        <span>Stop Sharing</span>
      </button>
        </ion-card-content>
      </ion-card>
      }
</ion-col>
</ion-row></ion-grid>
    </div>
  </ion-tab>
</ion-tabs>
