       <h4 class="text-white">Cool Down</h4>
     <div class="video-grid"  >
    @for (video of list; track $index) {
    <ion-card class="video-card"
      (click)="onNavigate(video)"
        [id]="'coolcard' + $index"
        [tabindex]="0">
        <div class="image-container-placeholder">
            <div *ngIf="!imageLoaded">
              <ion-skeleton-text
                style="width: 100%; height: 110px"
                animated
              ></ion-skeleton-text>
            </div>
            <ion-img
              [src]="video.image"
              (ionImgDidLoad)="imageLoaded = true"
            ></ion-img>
          </div>
    </ion-card>}
    </div>