ion-card {
  border-radius: 8px;
  /* height: 100px; */
}

.image-container-placeholder{
  background-color: rgb(100 100 100 / 42%);
  height: 100%;
  /* max-height: 100px;
  min-height: 100px;  */ 
  ion-img{
         height: auto;
 /*  max-height: 100px;
  min-height: 100px;  */
  object-fit: contain;
      }
}