<ion-grid>
  <ion-row>
    <ion-col size="12">
      <h1 class="text-white">Recipe Category</h1>
    </ion-col>
  </ion-row>
  <ion-row>
         @if(recipeList.length > 0){
     @for (recipe of recipeList; track $index) {
    <ion-col size="3" >
      <ion-card (click)="navigateToRecipe(recipe.title)" [tabindex]="0" id="recipee-card-{{$index}}">
         <div class="image-container-placeholder">
       <ion-img [src]="recipe.imagePath"></ion-img></div>
      </ion-card>
    </ion-col>}
     }
        @else { 
    <ngx-skeleton-loader count="4" appearance="square" 
     class="custom-skeleton-width "
   [theme]="{height: '120px',width: 'calc(25% - 10px)'}" />
} 
  </ion-row>
</ion-grid>
