<div class="videos-section" >
  <div class="section-header">
    <h2>{{title()}}</h2>
  </div>
  
  @if(videos().length > 0){
  <div class="video-grid" [id]="title()" (focus)="checkEnterFocus()"  >
     
    @if(title() === 'User Made Combo' || title() ==='Pre Made Combo'){
        @for (video of videos().slice(0,3); track $index) {
        <ion-card class="video-card "
        style="display: grid;place-content: center;min-height: 100px;background-color: #028e9d;"
          (focus)="onCardFocus($index)" [id]="'videocard'+title()+ $index" 
          (blur)="onCardBlur()"
          [tabindex]="tabindex()"
          (click)="onVideoClick(video)">
          <h4 class="text-center text-white m-0 p-0 ">{{video.name}}</h4>
            @if (status() !== 'active') {
          <div class="icon-div">
              <img
                      src="assets/images/lock-fill.svg"
                      class="img-fluid lock-icon "
                    />
          </div>
        
            }
        </ion-card>
      }
      }
     @if(title() == 'Recipe' || title() === 'Workouts' || title() === 'Workouts Series' || title() === 'Top Challenges' || title() === '30 Days Programs'){

    @for (video of videos().slice(0,3); track $index) {
        
       <ion-card class="video-card"
      (focus)="onCardFocus($index)" [id]="'videocard'+title()+ $index" 
      (blur)="onCardBlur()"
      [tabindex]="tabindex()"
      (click)="onVideoClick(video)">
      <img [src]="video.image" alt="video image">
        @if (status() !== 'active') {
      <div class="icon-div">
          <img
                  src="assets/images/lock-fill.svg"
                  class="img-fluid lock-icon "
                />
      </div>
    
        }
    </ion-card>
  }
}

    <ion-card class="video-card d-flex justify-content-center align-items-center"  
    [tabindex]="tabindex()" 
    (focus)="onCardFocus(videos.length +1)"
    (blur)="onCardBlur()"
    (click)="onViewAllClick()">
      <h3 class="text-primary-custom m-0">View All</h3 >
    </ion-card>
  </div>}
@else {
   <ngx-skeleton-loader count="4" appearance="square" [theme]="{height: '120px',width:'calc(25% - 16px)'}" />
}
   

</div> 