<div class="videos-section"   >
  <div class="section-header">
    <h2>{{title}}</h2>
  
  </div>
  
  <div class="video-grid" [id]="title" (focus)="checkEnterFocus()"  >
    <ion-card class="video-card" *ngFor="let video of videos; let i = index" 
      (focus)="onCardFocus(i)"
      (blur)="onCardBlur()"
      [tabindex]="0"
      (click)="onVideoClick(video)">
      <img [src]="video.image" alt="video image">
      <ion-card-header>
        <ion-card-title>{{video.title}}</ion-card-title>
        <ion-card-subtitle>{{video.duration}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card class="video-card d-flex justify-content-center align-items-center" tabindex="0" 
    (focus)="onCardFocus(videos.length +1)"
      (blur)="onCardBlur()"
    (click)="onViewAllClick()">
      <h3 class="text-primary-custom">View All</h3 >
    </ion-card>
  </div>
</div> 