<ion-grid>
<!--   <ngx-skeleton-loader count="5" appearance="square" size="100px" /> -->


  <ion-row>
    <ion-col size="5">
      <ion-row class="h-100">
        <ion-col size="12">
          <ion-card class="stats-card">
            <h1>Today</h1>
            @if (stripeCustomer?.todayStats) {
            <h6>{{getDate(stripeCustomer?.todayStats?.date) | date: 'EEEE'}}</h6>
            <h6>{{getDate(stripeCustomer?.todayStats?.date) | date: 'MMMM d, y'}}</h6>}
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="stats-card">
            <h1>{{stripeCustomer?.todayStats?.totalMin}}</h1>
            <h6>Minutes completed</h6>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="stats-card">
            <h1>{{stripeCustomer?.todayStats?.totalVideos}}</h1>
            <h6>Videos completed</h6>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="7">
      <ion-row>
        <ion-col size="12">
         @if (stripeCustomer?.todayStats) {
          <ion-card class="stats-card weekly-stats">
            <div class="stats-container">
              <!-- This Week Stats -->
              <div class="progress-card">
                <div class="progress-circle" 
                [style]="getProgressStyle(data.thisWeek.totalDays,5)">
                  <div class="inner-circle">
                    <div class="content">
                    <h2>{{data.thisWeek.totalDays}}/5 Days</h2>
                      <p>{{data.thisWeek.totalMinutes}} Minutes Completed</p>
                    </div>
                  </div>
                </div>
                <h3>This Week</h3>
                @if (stripeCustomer?.todayStats) {
                <p class="date-range">
             {{shortenDate(getDate(stripeCustomer?.todayStats?.weekStartDate) | date)}} -
              {{shortenDate(getDate(stripeCustomer?.todayStats?.weekEndDate)| date)}} 
                </p>}
              </div>

              <!-- Last Week Stats --> 
              <div class="progress-card"><!--    [style]="getProgressStyle(weeklyStats.lastWeek.daysCompleted, weeklyStats.lastWeek.totalDays)" -->
                <div class="progress-circle" [style]="getProgressStyle(data.lastWeek.totalDays,5)">
                  <div class="inner-circle">
                    <div class="content">
                    <h2>{{data.lastWeek.totalDays}}/5 Days</h2>
                      <p>  {{data.lastWeek.totalMinutes}} Minutes Completed</p>
                    </div>
                  </div>
                </div>
                <h3>Last Week</h3>
                <p class="date-range">{{data.lastWeek.weekStartDate}} - {{data.lastWeek.weekEndDate}}</p>
              </div>
            </div>
           <!--  <div class="recently-completed">
              <button class="btn btn-primary-custom" tabindex="0" (click)="recentlyCompleted()">
                Recently Completed
              </button>
            </div> -->
          </ion-card>}
          @else {
               <ngx-skeleton-loader count="1" appearance="square" 
               [theme]="{height: '200px',width:'100%'}" />
          }
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

    <!-- video section -->
  <ion-row>
    <ion-col size="12">
      <app-video-section
        [videos]="programs"
        [title]="'Top Videos'"
        [tabindex]="1"
        (viewAllClick)="onViewAllVideo()"
        (videoClick)="onVideoClick($event)">
      </app-video-section>
    </ion-col>
  </ion-row>

    <!-- Challenge section -->
     <ion-row>
      <ion-col size="12">
        <app-video-section
          [videos]="challenges"
          [title]="'Top Challenges'"
          [tabindex]="2"
          (viewAllClick)="onViewAllChallenges()"
          (videoClick)="onCardChallenges($event)">
        </app-video-section>
      </ion-col>
    </ion-row> 
     <!-- fitness section -->
      <ion-row>
      <ion-col size="12">
        <app-video-section
          [videos]="fitness"
          [title]="'Top Fitness Videos'"
          [tabindex]="3"
          (viewAllClick)="onViewAllFitness()"
          (videoClick)="onCardFitness($event)">
        </app-video-section>
      </ion-col>
    </ion-row> 
         <!-- workout section -->
          <ion-row>
          <ion-col size="12">
            <app-video-section
              [videos]="workouts"
              [title]="'Trending Workouts'"
              [tabindex]="3"
              (viewAllClick)="onViewAllWorkouts()"
              (videoClick)="onCardWorkouts($event)">
            </app-video-section>
          </ion-col>
        </ion-row> 
</ion-grid>