<ion-content [fullscreen]="true">

  <mat-sidenav-container class="sidenav-container">
    <!-- Sidebar -->
    <mat-sidenav #sidenav [mode]="'side'" [opened]="true"
      [fixedInViewport]="true" class="dark-theme" [class.expanded]="!isCollapsed"
      (mouseenter)="checkEnterFocus()" (mouseleave)="isCollapsed = true">
      <app-header [isCollapsed]="isCollapsed"></app-header> 
      
      <mat-nav-list> <!-- (click)="navigateTo(item.route)" -->
        @for (item of menuItems; track $index) {
          @if (!item.isDisabled) {
        <a mat-list-item   (click)="navigateTo(item)" routerLinkActive="active"
          [disabled]="item.isDisabled"
          (keydown)="onSideNavKeyDown($event)"
          (focus)="checkEnterFocus()"
          tabindex="0">
          <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
          <span matListItemTitle [class.visible]="!isCollapsed">{{item.label}}</span>
        </a>}}
        <a mat-list-item (click)="logout()" class="logout-btn"
          [class.focused]="focusedItem?.label === 'logout'"
          (keydown)="onSideNavKeyDown($event)" tabindex="0">
          <mat-icon matListItemIcon>logout</mat-icon>
          <span matListItemTitle [class.visible]="!isCollapsed">Logout</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Main Content -->
    <mat-sidenav-content class="dark-theme" [tabindex]="-1" style="margin-left: 0px;">
      <div class="content" [class.content-collapsed]="isCollapsed" [tabindex]="-1" #mainContent>
     <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </ion-content>
  