@if(videoData){
<div
  class="hero-background"
  [ngStyle]="{'background-image': 'url(' + videoData.image + ')'}"
></div>
<div class="hero-overlay"></div>
<div class="hero-content">
  <div class="hero-title">
    <h1>{{ videoData.title }}</h1>
  <!--   <div class="hero-description">
      Duration: {{ videoData.durationMinutes }} Mins
    </div> -->
    <div class="hero-actions">
      <button
        class="btn-icon-primary ion"
        id="play-btn"
        tabindex="0"
        (click)="onVideoOpen(videoData)"
      >
        <ion-icon name="play" slot="start"></ion-icon>
        <span>Play</span>
      </button>
     </div>
     <div class="d-flex gap-2 mt-3 flex-wrap">
      @if (!getWatchCount(getGroupByDataByName(videoData.title))) {
      <button class="btn-icon-primary" tabindex="0" (click)="openMoodTracker(videoData.title,videoData.value)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <span>Mark as Complete</span>
      </button>
      } @if (getWatchCount(getGroupByDataByName(videoData.title))) {
      <button class="btn-icon-primary" tabindex="0" (click)="openMoodTracker(videoData.title,videoData.value)">
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        <span class="me-2"
          >Completed
          <span *ngIf="getWatchCount(getGroupByDataByName(videoData.title)) > 1"
            >({{  getWatchCount(getGroupByDataByName(videoData.title)) }})</span
          ></span
        ></button
      >}
        @if (checkMoodIconVisible(getGroupByDataByName(videoData.title))) {
 <button class="btn-icon-primary" tabindex="0"  (click)="openMoodList(getGroupByDataByName(videoData.title))">
      <span>😊</span> 
 </button>}

    </div> 
   
  </div>
</div>

}


