<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-img [src]="recipeData?.image"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <h1 class="text-white text-start">{{recipeData?.title}}</h1>
        @if(!checkFavorites()){
       <button class="btn-icon-primary" tabindex="0"
       (click)="addTofav()"
       >
        <ion-icon name="heart-outline"></ion-icon>

        <span>Add to Favorites</span>
      </button>}
       @if(checkFavorites()){
      <button class="btn-icon-primary" tabindex="0"  (click)="removeFromFavList()">
        <ion-icon name="heart"></ion-icon>
        <span>Added to Favorites</span>
      </button> }

      <div class="mt-3">
        <h5 class="text-white">Description:</h5>
        <p class="text-white">{{recipeData?.description}}</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h5 class="text-white">Ingredients:</h5>
      <p class="text-white" [innerHTML]="recipeData?.ingredients"></p>
    </ion-col>
    <ion-col size="12">
      <h5 class="text-white">Directions:</h5>
      <p class="text-white" [innerHTML]="recipeData?.directions"></p>
    </ion-col>
  </ion-row>
</ion-grid>
