
.image-container-placeholder{
  background-color: rgb(100 100 100 / 42%);
  height: 150px;
  max-height: 150px;
  min-height: 150px;  
  img{
         height: 150px;
  max-height: 150px;
  min-height: 150px; 
  object-fit: cover;
      }
}