<ion-grid>
  <ion-row class="mb-3">
    <ion-col size="3">
      <h1 class="text-white text-start p-0 mt-0">{{comboDetails?.name}}</h1>
    </ion-col>
    <ion-col size="3">
      @if (comboDetails?.restTime) {
      <p class="text-white mb-0">
        Repitition : {{comboDetails?.repeatCount}} times
      </p>
      <p class="text-white mb-0">
        Rest Time : {{comboDetails?.restTime}} seconds
      </p>
      }
    </ion-col>
    <ion-col size="6" class="text-end">
      <div class="d-flex justify-content-end align-items-center flex-wrap gap-2">
        <!--   <button class="btn-icon-primary me-2"  tabindex="0">
        <ion-icon name="heart-outline"></ion-icon>
        <span>Add to Favorites</span>
      </button> -->
        <!--   <button class="btn-icon-primary"  tabindex="0">
        <ion-icon name="heart"></ion-icon>
        <span>Added to Favorites</span>
      </button> -->
        <button
          class="btn-icon-primary me-2"
          id="combobtn"
          (click)="startCombo()"
          [tabindex]="0"
        >
          <span>Start Combo</span>
        </button>
        @if (!getWatchCount()) {
        <button
          class="btn-icon-primary"
          tabindex="0"
          (click)="openMoodTracker()"
        >
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <span>Mark as Complete</span>
        </button>
        } @if (getWatchCount()) {
        <button
          class="btn-icon-primary"
          tabindex="0"
          (click)="openMoodTracker()"
        >
          <ion-icon name="checkmark-done-circle-outline"></ion-icon>
          <span class="me-2"
            >Completed
            @if (getWatchCount() > 1) {
            <span 
              >({{getWatchCount() }})</span
            >}</span
          ></button
        >}
          @if (checkMoodIconVisible()) {
         <button class="btn-icon-primary ms-2" tabindex="0"  (click)="openMoodList()">
  <span>😊</span>
 </button>}
   @if(!checkFavorites()){
       <button class="btn-icon-primary ms-2" tabindex="0"
       (click)="addTofav()"
       >
        <ion-icon name="heart-outline"></ion-icon>

        <span>Add to Favorites</span>
      </button>}
       @if(checkFavorites()){
      <button class="btn-icon-primary ms-2"  tabindex="0"  (click)="removeFromFavList()">
        <ion-icon name="heart"></ion-icon>
        <span>Added to Favorites</span>
      </button> }
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    @if(comboDetails?.comboWorkouts.length > 0){ @for (item of
    comboDetails?.comboWorkouts; track $index) {
    <ion-col size="3">
      <ion-card
        class="custom-card"
        id="combo-details-card-{{$index}}"
        [tabindex]="0"
      >
        <div class="image-container-placeholder">
          <img [src]="item.postDetails.media" alt="image" />
        </div>
        <ion-card-header>
          <ion-card-title>{{item.postDetails.title}}</ion-card-title>
        </ion-card-header>
      </ion-card> </ion-col
    >} } @else {
    <ngx-skeleton-loader
      count="4"
      appearance="square"
      class="custom-skeleton-width"
      [theme]="{height: '120px',width: 'calc(25% - 10px)'}"
    />
    }
  </ion-row>
</ion-grid>
